[submodule "3D-OpenGL-Project/external/glm"]
	path = 3D-OpenGL-Project/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-FPS-Demo/external/glm"]
	path = 3D-OpenGL-FPS-Demo/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-Instance-Rendering/external/glm"]
	path = 3D-OpenGL-Instance-Rendering/external/glm
	url = https://github.com/g-truc/glm
[submodule "2D-Adventure-Game/external/luawrapper"]
	path = 2D-Adventure-Game/external/luawrapper
	url = https://github.com/alexames/luawrapper
[submodule "3D-OpenGL-Terrain/external/glm"]
	path = 3D-OpenGL-Terrain/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-Untitled-Game-Idea/external/glm"]
	path = 3D-OpenGL-Untitled-Game-Idea/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-Terrain-2/external/glm"]
	path = 3D-OpenGL-Terrain-2/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-Untitled-Game-Idea-2/external/glm"]
	path = 3D-OpenGL-Untitled-Game-Idea-2/external/glm
	url = https://github.com/g-truc/glm
[submodule "puddle-v0.00001/external/glm"]
	path = puddle-v0.00001/external/glm
	url = https://github.com/g-truc/glm
[submodule "puddle-v0.00002/external/glm"]
	path = puddle-v0.00002/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-Terrain-3/external/glm"]
	path = 3D-OpenGL-Terrain-3/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-Instance-Rendering-2/external/glm"]
	path = 3D-OpenGL-Instance-Rendering-2/external/glm
	url = https://github.com/g-truc/glm
