[submodule "3D-OpenGL-Project/external/glm"]
	path = 3D-OpenGL-Project/external/glm
	url = https://github.com/g-truc/glm
[submodule "3D-OpenGL-FPS-Demo/external/glm"]
	path = 3D-OpenGL-FPS-Demo/external/glm
	url = https://github.com/g-truc/glm
